designs/server/services/claims/api.json
[
    {
        "id": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "type": "tab",
        "createdDate": "2024-09-03T23:32:14.646Z",
        "label": "api",
        "disabled": false,
        "info": "",
        "functionSeq": 0,
        "generateNext": true,
        "serviceName": "api",
        "relativeParentPath": "claims"
    },
    {
        "id": "sd_zm2vJ5zZBorn8Iq1",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "start",
        "name": "add-claim",
        "path": "/add-claim",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "post",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 40,
        "wires": [
            [
                "sd_NlYVbTW63Hleg2OU"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "api",
        "functionName": "sd_zm2vJ5zZBorn8Iq1"
    },
    {
        "id": "sd_1MsfAovHQUCkaNDE",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.payload = bh.input.body\n\nbh.count  = bh.found.length + 1\n\nbh.claimNo = bh.input.body.claimNumber + '-' + bh.count\n\nconsole.log(\"CLAIM NO: \", bh.claimNo)\n\nbh.payload.claimNumber = bh.claimNo\n\nbh.collection = \"claims\";\nbh.payload.date = new Date();\n\nconsole.log(\"PAYLOAD:\", bh.payload)\n",
        "functionName": "sd_1MsfAovHQUCkaNDE",
        "category": "Function",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "sd_CfzW0EE3u9aX9DmX"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_CfzW0EE3u9aX9DmX",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.collection",
        "options": "bh.options",
        "resultMapping": "bh.result",
        "operation": "insertOne",
        "argumentArray": [
            "document",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.payload",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_CfzW0EE3u9aX9DmX",
        "category": "Storage",
        "x": 225,
        "y": 40,
        "wires": [
            [
                "sd_bFUKlYs5aDknVhst"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "options",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "document": {
                "type": "bh",
                "value": "payload",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_bFUKlYs5aDknVhst",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_bFUKlYs5aDknVhst",
        "category": "HTTP",
        "x": 310,
        "y": 40,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_ZvXZqmFrqvDEaIAA",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "start",
        "name": "get claims",
        "path": "/get-claims",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "get",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 140,
        "wires": [
            [
                "sd_UQ2eF4vSY8PN9bLM"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "api",
        "functionName": "sd_ZvXZqmFrqvDEaIAA"
    },
    {
        "id": "sd_UQ2eF4vSY8PN9bLM",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.collection = \"claims\"",
        "functionName": "sd_UQ2eF4vSY8PN9bLM",
        "category": "Function",
        "x": 145,
        "y": 140,
        "wires": [
            [
                "sd_ZY9QiVfLcBWJSyUD"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_ZY9QiVfLcBWJSyUD",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.collection",
        "options": "bh.options",
        "resultMapping": "bh.result",
        "operation": "find",
        "argumentArray": [
            "query",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh.query",
        "fieldOrSpec": "",
        "filter": "",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "bh.input.body",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_ZY9QiVfLcBWJSyUD",
        "category": "Storage",
        "x": 230,
        "y": 140,
        "wires": [
            [
                "sd_Ba2xymnw0nSEWXia"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "options",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "query",
                "constant": false
            },
            "document": {
                "type": "bh.input",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_Ba2xymnw0nSEWXia",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_Ba2xymnw0nSEWXia",
        "category": "HTTP",
        "x": 310,
        "y": 140,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_ny8fhj561jXDwL1n",
        "type": "HttpIn",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "start",
        "name": "Update user",
        "path": "/update_claim",
        "uploadpath": "",
        "summary": "",
        "description": "",
        "method": "put",
        "sequenceId": "",
        "consumes": "",
        "produces": "",
        "filetype": "path",
        "acceptFileUpload": false,
        "useDataModel": false,
        "dataModelIsArray": false,
        "uploadFileOptions": "",
        "erd": "",
        "erdName": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "responses": [],
            "params": [],
            "produces": [],
            "consumes": []
        },
        "inputs": 0,
        "outputs": 1,
        "validateRequestUsingSwaggerDocs": false,
        "category": "HTTP",
        "x": 65,
        "y": 320,
        "wires": [
            [
                "sd_8vgHhVtnSlWdusUK"
            ]
        ],
        "__ssdTypeInputs__": {
            "uploadpath": {
                "type": "str",
                "value": "",
                "nullable": "true",
                "nullableValue": "",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "api",
        "functionName": "sd_ny8fhj561jXDwL1n"
    },
    {
        "id": "sd_8vgHhVtnSlWdusUK",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "const updateData = { ...bh.input.body };\n\nbh.filter = {\"claimNumber\": updateData.claimNumber}\nbh.collection = \"claims\"\n\nbh.search = {\n    ...bh.filter,\n    \"collection\": \"claims\"\n}\n\nconsole.log(\"SEARCH: \", bh.search)\n\nupdateData.status = bh.input.body.status\ndelete updateData.deceased.status\ndelete updateData._id\n\nbh.body = {$set: updateData}\n\nconsole.log(\"UPDATED DATA: \", bh.body)\nconsole.log(\"Filter: \", bh.filter)",
        "functionName": "sd_8vgHhVtnSlWdusUK",
        "category": "Function",
        "x": 145,
        "y": 320,
        "wires": [
            [
                "sd_r5fMFLI8hFNJ69gl"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_ny6rh1iPud0sHaY7",
        "type": "Mongodb",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "databaseConfig": "sd_PhRLzlckwjzX0TdC",
        "collection": "bh.collection",
        "options": "bh.option",
        "resultMapping": "bh.result",
        "operation": "findOneAndUpdate",
        "argumentArray": [
            "filter",
            "update",
            "options"
        ],
        "aggregate": "",
        "operations": "",
        "query": "bh",
        "fieldOrSpec": "",
        "filter": "bh.filter",
        "key": "",
        "docId": "",
        "indexName": "",
        "replacement": "",
        "update": "bh.body",
        "xAxis": "",
        "yAxis": "",
        "indexes": "",
        "docs": "",
        "document": "",
        "newName": "",
        "doc": "",
        "filePath": "",
        "fileName": "",
        "pipeline": "",
        "functionName": "sd_ny6rh1iPud0sHaY7",
        "category": "Storage",
        "x": 345,
        "y": 320,
        "wires": [
            [
                "sd_x7iVRuFfC2BUT03i"
            ]
        ],
        "__ssdTypeInputs__": {
            "collection": {
                "type": "bh",
                "value": "collection",
                "constant": false
            },
            "options": {
                "type": "bh",
                "value": "option",
                "constant": false
            },
            "resultMapping": {
                "type": "bh",
                "value": "result",
                "constant": false
            },
            "query": {
                "type": "bh",
                "value": "",
                "constant": false
            },
            "filter": {
                "type": "bh",
                "value": "filter",
                "constant": false
            },
            "update": {
                "type": "bh",
                "value": "body",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_x7iVRuFfC2BUT03i",
        "type": "HttpOut",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "headers": {},
        "responseBody": {
            "type": "bh",
            "value": "result",
            "ssd_typedInputField": true
        },
        "httpcode": {
            "type": "num",
            "value": 200,
            "ssd_typedInputField": true
        },
        "responseType": "obj",
        "swaggerResponse": {},
        "responseMapping": {
            "status": 200,
            "obj": "bh.result",
            "send": "bh.result"
        },
        "dataModelIsArray": false,
        "cookies": [],
        "inputs": 1,
        "outputs": 0,
        "erd": "",
        "entity": "",
        "entityId": "",
        "ref": "",
        "editableListData": {
            "headers": [],
            "produces": [],
            "responses": []
        },
        "cookiesList": {},
        "switchStates": {
            "headers": "Map",
            "cookies": "Map"
        },
        "functionName": "sd_x7iVRuFfC2BUT03i",
        "category": "HTTP",
        "x": 425,
        "y": 320,
        "wires": [],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_r5fMFLI8hFNJ69gl",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "foundClaim",
                "mapVarName": "result",
                "localVar": "bh.foundClaim"
            }
        ],
        "callService": "../Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_r5fMFLI8hFNJ69gl",
        "category": "General",
        "x": 240,
        "y": 320,
        "wires": [
            [
                "sd_ny6rh1iPud0sHaY7",
                "sd_j5bgewAfqB0ztWa4"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_j5bgewAfqB0ztWa4",
        "type": "ServerLog",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.foundClaim",
        "logLevel": "info",
        "functionName": "sd_j5bgewAfqB0ztWa4",
        "category": "General",
        "x": 345,
        "y": 440,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "foundClaim",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_PGqPZiORcKSqjFNP",
        "type": "CallService",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "outputs": 1,
        "isValidNode": true,
        "noerr": 0,
        "service": {
            "id": "SSD_SERVICE_ID_sd_qcsHvGUKUKU7RTSL",
            "type": "tab",
            "createdDate": "2024-08-18T11:10:02.741Z",
            "label": "Auth",
            "disabled": false,
            "info": "",
            "functionSeq": 0
        },
        "flow": {
            "flowId": "sd_HQW7MlXCfXknBjYn",
            "flowName": "checkIfExist"
        },
        "inputVariables": [
            {
                "key": "searchObj",
                "map": true,
                "valueType": "bh",
                "value": "search"
            }
        ],
        "bhVariables": [],
        "outputMapping": [
            {
                "mapVarType": "local",
                "key": "result",
                "valueType": "bh",
                "value": "found",
                "mapVarName": "result",
                "localVar": "bh.found"
            }
        ],
        "callService": "../Auth",
        "startName": "checkIfExist",
        "inputParams": [
            "bh.search"
        ],
        "accept_bh": false,
        "functionName": "sd_PGqPZiORcKSqjFNP",
        "category": "General",
        "x": 265,
        "y": 80,
        "wires": [
            [
                "sd_1MsfAovHQUCkaNDE"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_NlYVbTW63Hleg2OU",
        "type": "Script",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "common",
        "nodeType": "flow",
        "name": "",
        "script": "bh.policyNo = bh.input.body.claimNumber.split(\"-\")[1]\n\nconsole.log(\"POLICY NO: \", bh.policyNo)\n\nbh.search = {\n    collection: \"claims\",\n    query: {policyNo: Number(bh.policyNo)}\n}\n\nconsole.log(\"SEARCH: \", bh.search)",
        "functionName": "sd_NlYVbTW63Hleg2OU",
        "category": "Function",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "sd_PGqPZiORcKSqjFNP"
            ]
        ],
        "__n_excludedFromValidation__": {},
        "generateNext": false,
        "serviceName": "api",
        "generated": true
    },
    {
        "id": "sd_T1aANLKlVIXujev4",
        "type": "ServerLog",
        "z": "SSD_SERVICE_ID_sd_5O2XRvSS7gzsgXN7",
        "viewType": "server",
        "nodeType": "flow",
        "name": "",
        "outputs": 0,
        "logObject": "bh.found",
        "logLevel": "info",
        "functionName": "sd_T1aANLKlVIXujev4",
        "category": "General",
        "x": 405,
        "y": 200,
        "wires": [],
        "__ssdTypeInputs__": {
            "logObject": {
                "type": "bh",
                "value": "found",
                "constant": false
            }
        },
        "__n_excludedFromValidation__": {},
        "generateNext": true,
        "serviceName": "api"
    }
]
